<div class="column"><div>
		  <h3>TaCTICS Overview</h3>
					<p class="text"><%= image_tag('faerber_contour_search_fig_3.jpg', :size => "235x158") %>
					TaCTICS is an instructional software for radiation therapy target volume delineation.</p><p>
					We have obtained contours (RT-structures) for different sites including Lung, Liver, Prostate, and Head and Neck from experts. The goal is to match the expert's contour as closely as possible.
					</p><br/><br/><br/></div>

<div><br/>
<ol><h3>Instructions</h3>
    <li>Register at the registration page. If you have previously registered, log on.</li><br/>
    <li>Select the anatomical site and download the data. The data is available as zipped DICOM images.</li><br/>
    <li>Contour the structures using your favorite treatment planning system.</li><br/>
    <li>Export the RTSTRUCT file.</li><br/>
    <li>Upload the RTSTRUCT file at the submission page.</li><br/>
    <li>Select the correct anatomical site (template study) and reference that you want to compare against.</li>
    <li> Finally, you should get an e-mail with your report within a few minutes.</li>
 </ol>
</div>
</div>