<div class="column">

<h3>Publications</h3>
<div>

<br/>

<ul>
<li>	 Target Contour Testing/Instructional Computer Software (TaCTICS): A Novel Training and Quantitative Evaluation Software Platform for  Radiotherapy Target Delineation, Fuller at al, accepted for publication at the SIIM 2010 annual meeting</li> 

</ul>


</div>

</div>